html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:after, *:before {
    box-sizing: border-box;
}

.template__section {
    padding-top: 50px;
    min-height: 100vh;
    margin: 0px 36px;
}

.section-header {
    /* background-color: turquoise; */
    background-color: #496B3A;
    text-align: center;
    font-size: 32px;
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Raleway';
    font-weight: normal;
    color: floralwhite;
    padding: 16px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

body {
    /* background: #0B7151; */
    /* background: #496B3A; */
    background: white;
    font-family: 'Raleway', sans-serif;
}

.site-header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: #05164b; */
    background-color: #496B3A;
    /* background-color: rgb(33,56,24); */
    z-index: 100;
}

.navigation {
}

.navigation__switch {
    display: none;
}

.navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0;
}

.navigation__item {
    margin: 0px 16px;
}

.navigation__link {
    font-size: 16px;
    /* font-weight: bold; */
    text-decoration: none;
    color: floralwhite;
}

.navigation__link--active {
    color: rgb(33,56,24);
    /* font-weight: bold; */
}

.start-page {
    display: grid;
    grid-template-columns: 4fr 5fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
}

.start-page__image {
    width: 100%;
}

.start-page__image > img {
    height:auto;
    width: 100%;
}

.start-page__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff; 
    /* padding: 0px 36px; */
    /* margin: 36px; */
    border-radius: 36px;
    /* width: 500px; */
}

.start-page__header {
    text-align: center;
    background-color: #496B3A;
    color: white;
    font-weight: lighter;
    padding: 12px 12px;
    /* margin: 36px; */
    /* border-radius: 36px; */
    /* width: 424px; */
}

.start-page__paragraph {
    text-align: justify;
    color: black;
    padding: 0px 16px;
    /* font-weight: bold; */
}

.about {
    display: grid;
    grid-template-columns: 300px minmax(500px, auto);
    grid-template-rows: 68px 1fr 1fr;
    grid-template-areas: "about_header about_header"
                         "image_karolina article_karolina"
                         "image_piotr article_piotr";
    align-items: center;
    gap: 16px;
}

.about__header {
    grid-area: about_header;
}

.about__image {
    width: 100%;
}

.about__image--karolina {
    grid-area: image_karolina;
}

.about__image--piotr {
    grid-area: image_piotr;
}

.about__article {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 0px 16px;
}

.about__article--karolina {
    grid-area: article_karolina;
}

.about__article--piotr {
    grid-area: article_piotr;
}

.about__name {
    font-size: 24px;
}

.about__paragraph {
    text-align: justify;
}

.gallery {
}

.gallery__header {
}

.gallery__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center; 
    grid-gap: 16px;
    margin: 36px 0px;
}

.gallery__image {
    width: 100%;
}

.live {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.live__header {
    width: 100%;
}

.live__text {
    text-align: center;
}

.live__youtube {
    width: 100%;
}

.contact {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 68px 1fr;
    grid-template-areas: "grid_contact_header grid_contact_header grid_contact_header"
                         "grid_contact_karolina grid_contact_address grid_contact_piotr";
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
}

.contact__header {  
    grid-area: grid_contact_header;
}

.contact__person {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
}

.contact__image {
    width: 100%;
    max-width: 300px;
}
.contact__person--karolina {
    grid-area: grid_contact_karolina;
}

.contact__person--piotr {
    grid-area: grid_contact_piotr;
}

.contact__address {
    grid-area: grid_contact_address;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__address--icon {
    width: 100%;
    max-width: 50px;
}

.contact__address--paragraph {
    text-align: center;
}

.footer {
    text-align: center;
    background-image: url('img/footer.png');
    background-position: center;
    background-size: cover;
    height: 50px;
}

@keyframes showMenu {
    from {
        opacity: 0;
        height: 0px;
        visibility: hidden;
    }

    to {
        opacity: 1;
        height: 250px;
        visibility: visible;
    }
}

@keyframes hideMenu {
    from {
        opacity: 1;
        height: 250px;
        visibility: visible;
    }

    to {
        opacity: 0;
        height: 0px;
        visibility: hidden;
    }
}

@media (max-width: 860px) {
    .site-header {
        height: auto;
    }

    .navigation__switch {
        display: block;
        position: absolute;
        top: 8px; right: 16px;
        border: none;
        background: none;
        font-size: 32px;
        font-weight: bold;
    }

    .navigation__list {
        flex-direction: column;
        justify-content: center;
    }

    .navigation__list--visable {
        display: flex;
        animation: showMenu .5s ease-in-out;
    }

    .navigation__list--hidden {
        display: none;
        animation: hideMenu .5s ease-in-out;
    }

    .navigation__item {
        margin: 16px;
    }

    .navigation__link--active {
        color: floralwhite; 
    }

    .start-page {
        grid-template-columns: auto;
    }

    .start-page__article {
        min-width: 0;
    }

    .about {
        grid-template-columns: auto;
        grid-template-rows: 68px auto;
        grid-template-areas: "about_header"
                            "image_karolina"
                            "article_karolina"
                            "image_piotr"
                            "article_piotr";
    }

    .live {
    }
    
    .contact {
        grid-template-columns: auto;
        grid-template-rows: 68px auto;
        grid-template-areas: "grid_contact_header"
                             "grid_contact_karolina"
                             "grid_contact_piotr"
                             "grid_contact_address";
    }
}